body {
    font: 1rem/2 sans-serif;
    width: 500px;
    background-color: #000;
    background: #000;
    color: #fff;
}

.hidden {
	display: none;
}

#cache {
    color: #808080;
}

ul {
    font-size: 0.8rem;
    line-height: 1.2;
}

li {
    max-width: 500px;
    padding-bottom: 3px;
}

li .url {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

li .url:hover {
    white-space: normal;
    overflow: visble;
}

.url {
    color: #003ecf;
}
